body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4CAF50; /* Зеленая шапка */
    padding: 20px;
    text-align: center;
    color: #fff;
}

main {
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

p, li {
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    color: #fff;
    margin-top: 20px;
}